* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;      
  color: var(--type-colors-secondary, #474747);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Proxima-Nova-Regular';
  font-style: normal;
  line-height: 1.063rem; /* 121.429% */
  letter-spacing: 0.019rem;
}

.accordion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--background-bg-primary, #FFF);
  border-radius: 0.25rem;
  border: 1px solid #E3E3E3;
  float: right;
  margin-right: 1.2rem;
}

.accordionContent {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 8px 0px;
  font-weight: 500;
  gap: 1rem;
}

.accordionItem {
  width: 336px;
  font-size: 13px;
  font-weight: 600;
  border-bottom: 0px solid #E3E3E3;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 1.125rem;
  }

  .accordion {
    width: 90%;
  }
}