.overview {
  height: calc(100vh - 19.8rem);
  display: grid;
  grid-template-columns: 2fr 1fr;

  .overview_left {
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: var(--space-20);

    .cardClassName {
      border: 1px solid red;
    }

    .card_header {
      color: var(--text-secondary);
      margin-bottom: 1rem;
    }
  }

  .overview_right {
    background-color: var(--background-muted);
  }
}