.attachmentWrapper {
  display: flex;
  align-items: center;
  gap: var(--space-5);
  color: var(--accent-icon-accent-icon, #4285f4);
}

.attachmentBtn {
  display: flex;
  width: max-content;
  align-items: center;
  justify-content: center;
  gap: var(--space-10);
  padding: var(--space-8) var(--space-16);
  // cursor: pointer;
  font-size: var(--font-size-14);
}

.addAttachment {
  display: flex;
  line-height: 1;
  // font-size: 1.6rem; 
  // cursor: pointer;
}